name: Ruby Lint
on:
  push:
    paths:
      - 'ruby-lint/**'
jobs:
  ruby-lint:
    name: Test ruby-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Ruby Lint
        uses: ./ruby-lint
        with:
          path: ./ruby-lint/test
